/* Webfont: Ballines */@font-face {
    font-family: 'Ballines';
    src: url('Ballines.eot'); /* IE9 Compat Modes */
    src: url('Ballines.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ballines.woff') format('woff'), /* Modern Browsers */
         url('Ballines.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

